@font-face {
  font-family: 'Inter-Thin', sans-serif;
  src: url("./shared/fonts/Inter-Thin.ttf");
  font-weight: 100;
}

@font-face {
  font-family: 'Inter-Light', sans-serif;
  src: url("./shared/fonts/Inter-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: 'Inter-Regular', sans-serif;
  src: url("./shared/fonts/Inter-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: 'Inter-Medium', sans-serif;
  src: url("./shared/fonts/Inter-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: 'Inter-SemiBold', sans-serif;
  src: url("./shared/fonts/Inter-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: 'Inter-Bold', sans-serif;
  src: url("./shared/fonts/Inter-Bold.ttf");
  font-weight: 700;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  height: 100%;
}

body {
  height: 100%;
}

.layout {
  height: 100vh;
}